* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #514b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 2rem;
}

.choice {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #f0f0f0;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.score-board {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.score p {
    margin: 0.5rem 0;
}

#user-score,
#comp-score {
    font-size: 3rem;
    font-weight: 600;
    color: #2575fc;
}

.msg-container {
    margin-top: 2rem;
}

#msg {
    background: #6a11cb;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.user-choice {
    border: 5px solid #2575fc;
}

.comp-choice {
    border: 5px solid #ff5c5c;
}
